@font-face {
    font-family: 'IBMPlexSans';
    src: url('./fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('./fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('./fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Add more @font-face declarations as needed for other weights and styles */
